.sidebarRow {
  display: flex;
  align-items: center;
  margin: 17px;
  padding: 3px 0;
}

.sidebarRow > .MuiSvgIcon-root {
  color: #2e7ef7;
}

.sidebarRow > h4 {
  padding-left: 10px;
}

.sidebarRow:hover {
  cursor: pointer;
  background-color: #83828227;
}
